*{
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    background-color: #EFEFEF;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}
.header {
    background-color: #121212;
    text-align: center;
    color: #ffffff;
    font-size:50px;
    height: 100px;
    padding:20px;
}
.logo{
    width:100px;
    height:80px; 
    padding-top:0px;
}

.navi{
    background-color: #6495ed;
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
}
 
.navi a{
    float:left; 
    color:white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;    
    overflow: hidden;
    
}

.navi a:hover{
    background-color: white;
    color:#9eb9eb;
}

.row{
    display: flex;
    flex-wrap: wrap; 
    background-color: #CAEBF2;
    margin: 8px 0;
    justify-content: center;
    align-items: center;
}
 .row_head{
    display:block;
    background-color:white;
    color:black;
    margin:2px;
   text-align
   : center;
}

.box{
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    margin:15px;
    padding: 8px;
    /* width: 400px;
    height: 200px; */
 }
 .box:hover{
    transform: scale(1.2,1.2);   
 }
 
.img{
    width: 33.33%;
    float: left;
    height: auto;
}

footer{
    background-color: #16130d;
    display: flex;
    
    align-items: center;
    height:75px;
    padding:10px;
    
}   
footer a{
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
@media screen and (max-width: 700px) {
    .navi {   
      flex-direction: column;
    }
    .img{
        width: 100%;
    }
}
